* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "lupa";
    src: url(font-family/Gruppo/Gruppo-Regular.ttf);
}

/*estilo de fuente general*/
body {
    font-family: "lupa";
    background-image: url(imagenes/imagenes-fondos/fondo-textura.jpg);
    background-size: cover;
}

/*header*/
.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
    border-bottom: 4px outset black;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 10px;

}

.boton-header {
    background-color: gray;
}

.h1-logo {
    text-align: center;
    width: 100%;
    padding: 15px;
    font-weight: bolder;
    border: 4px outset black;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    color: beige;
    font-weight: bolder;
    font-size: 35px;
}

.enlace-logo {
    text-decoration: none;

}

.container-fluid {
    font-size: 20px;
    font-weight: bold;

}

.nav-link {
    text-align: center;
    color: beige;
}

.nav-link:hover {
    font-weight: bolder;
    color: chocolate;
}

/*main | grid*/
/*el main contiene dos secciones, la segunda contiene las cards*/
main {
    position: relative;
    top: 35px;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "casas"
        "dptos"
        "quintas";
    justify-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
    height: 100%;
}

.card {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
}

.parrafo {
    display: none;
    grid-area: texto-bienvenida;
}

.casas {
    grid-area: casas;
    align-items: flex-start;
}

.departamentos {
    grid-area: dptos;
}

.departamentos-2 {
    display: none;
    grid-area: dptos-2;
}

.quintas {
    grid-area: quintas;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-weight: bolder;
    letter-spacing: 2px;
}

.card-text-index {
    display: none;
}

.h5-enlace {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

/*main-pages*/
.grilla-pages {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
}

.card-pages {
    width: 75%;
}

.card-body {
    height: auto;
}

.grilla-pages-dptos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "dpto1"
        "dpto2"
        "dpto3"
        "dpto4";
    justify-items: center;
}

.dpto1 {
    grid-area: dpto1;
}

.dpto2 {
    grid-area: dpto2;
}

.dpto3 {
    grid-area: dpto3;
}

.dpto4 {
    grid-area: dpto4;
}

/*media query | paginas-quintas | mobile*/
.grilla-pages-quintas-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

/*media query | paginas-quintas | desktop*/
.grilla-pages-quintas-desktop {
    display: none;
}

/*pagina servicios*/
.grilla-pages-servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    gap: 20px;
}

.servicio1 {
    grid-area: servicio1;
}

.servicio2 {
    grid-area: servicio2;
}

.servicio3 {
    grid-area: servicio3;
}

.servicio4 {
    grid-area: servicio4;
}

.servicio5 {
    grid-area: servicio5;
}

.servicio6 {
    grid-area: servicio6;
}

/*pagina inversiones*/
.grilla-pages-inversiones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "i1"
        "i2"
        "i3";
    gap: 30px;
}

.inversion1 {
    grid-area: i1;
    justify-self: center;
}

.inversion2 {
    grid-area: i2;
    justify-self: center;
}

.inversion3 {
    grid-area: i3;
    justify-self: center;
}

/*estilos del footer*/
footer {
    position: relative;
    top: 100px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.footer-2 {
    display: none;
    flex-direction: row;
    justify-content: space-around;
}

.boton-nosotros {
    align-self: center;
}

.nosotros-desplegable {
    align-self: center;

}

.conocenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;

}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propietarios a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.propietarios {
    display: flex;
    flex-direction: column;

}

.info {
    font-weight: bolder;
    color: black;
}

.iframe {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 300px;
    align-self: center;
    border-radius: 30px;

}


@media screen and (min-width: 768px) {

    /*media query header*/
    .h1-logo {
        text-align: center;
        width: 100%;
        padding: 15px;
    }

    .encabezado {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }

    /*media query main*/
    .cards {
        width: 85%;
    }

    .card {
        height: 100%;
        border: 4px outset black;
    }

    .card-img {
        height: 100%;
    }

    .card-text-index {
        display: flex;
    }

    .grilla {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas:
            "texto-bienvenida texto-bienvenida"
            "casas dptos-2"
            "quintas dptos-2";
        gap: 20px;
        justify-items: center;
        align-items: flex-end;
    }

    .parrafo {
        display: flex;
        flex-direction: column;
        font-weight: bolder;
        backdrop-filter: blur(8px);
        border: 4px outset black;
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        font-weight: bolder;
        width: 92%;
        justify-content: center;
    }

    .parrafo p {
        color: beige;
    }


    .departamentos {
        display: none;
    }

    .departamentos-2 {
        display: flex;
        height: 100%;
    }

    .card-img-overlay:hover {
        backdrop-filter: blur(5px);
        color: black;
        font-weight: bolder;
    }

    /*media query | pagina-casa*/
    .grilla-pages {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
        grid-template-areas:
            "texto-bienvenida texto-bienvenida"
            "casa1 casa2"
            "casa3 casa4";
    }

    .casa1 {
        grid-area: casa1;
    }

    .casa2 {
        grid-area: casa2;
    }

    .casa3 {
        grid-area: casa3;
    }

    .casa4 {
        grid-area: casa4;
    }

    .card-pages {
        width: 85%;
        justify-items: center;
    }

    /*media query | paginas-departamentos*/
    .grilla-pages-dptos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "texto-bienvenida texto-bienvenida"
            "dpto1 dpto2"
            "dpto1 dpto3"
            "dpto4 dpto4";
        gap: 30px;
    }

    .dpto1 {
        height: auto;
    }

    .body1 {
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    /*media query | paginas-quintas | mobile*/
    .grilla-pages-quintas-mobile {
        display: none;
    }

    /*media query | paginas-quintas | desktop*/
    .grilla-pages-quintas-desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, 1fr);
        grid-template-areas:
            "texto-bienvenida texto-bienvenida"
            "quinta1 quinta1"
            "quinta2 quinta2"
            "quinta3 quinta3";
    }

    .quinta1 {
        grid-area: quinta1;
    }

    .quinta2 {
        grid-area: quinta2;
    }

    .quinta3 {
        grid-area: quinta3;
    }

    /*media query | servicios*/
    .grilla-pages-servicios {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "servicio1 servicio2 servicio3"
            "servicio4 servicio5 servicio6";

        width: 100%;
    }

    .seccion-servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    /*media query | inversiones*/
    .grilla-pages-inversiones {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            "i1 i2 i3";
        width: 100%;
    }

    .seccion-inversiones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }



    /*media query footer*/
    .footer-1 {
        display: none;
    }

    .footer-2 {
        display: flex;
        backdrop-filter: blur(5px);
        padding: 15px;
        border: 4px outset black;
    }

    .footer-2 div {
        width: 100%;
    }

    .footer-2 div h3 {
        color: beige;
        width: 100%;
    }

    .propietarios a {
        color: beige;
    }

    .info {
        color: beige;
    }

    @media screen and (min-width: 1024px) {
        .encabezado {
            height: auto;
            gap: 50px;
        }

        .h1-logo {
            text-align: center;
            width: 100%;
            height: auto;
        }
    }