/*Enlace H1 del HEADER*/
.encabezado {
    .logo-header {
        .enlace-logo {
            text-decoration: none;
        }
    }
}

/*MAIN de la pagina Quintas*/

.grilla-pages-quintas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "quinta1"
        "quinta2"
        "quinta3";
    justify-items: center;
    gap: 30px;
    .parrafo {
        @extend %parrafo;
    }
    .card-q {
        width: 70%;
        border: $bordes;
        @extend %borde-card;
        background-color: white;
        img {
            width: 100%;
        }
        .card-body {
            padding: 10px;
            .precio {
                font-weight: bolder;
                letter-spacing: 2px;
            }
        }
    }
    .quinta1 {
        grid-area: quinta1;
        width: 80%;
    }

    .quinta2 {
        grid-area: quinta2;
        width: 80%;
    }

    .quinta3 {
        grid-area: quinta3;
        width: 80%;
    }
}
