main {
    section {
        .grilla {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "casas"
                "dptos"
                "quintas";
            justify-items: center;
            .parrafo {
                @extend %parrafo;
            }
            .cards {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: 90%;
                height: 100%;
                .card {
                    width: 100%;
                    border-radius: 15px;
                    overflow: hidden;
                    box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
                    border: $bordes;
                    .card-img-overlay {
                        display: flex;
                        flex-direction: column;
                        .card-title {
                            .h5-enlace {
                                @extend %font-card;
                                text-decoration: none;
                            }
                        }
                        .card-text-index {
                            display: none;
                        }
                    }
                }
            }
            .casas {
                grid-area: casas;
                align-items: flex-start;
            }
            .departamentos {
                grid-area: dptos;
            }
            .departamentos-2 {
                display: none;
                grid-area: dptos-2;
            }
            .quintas {
                grid-area: quintas;
            }
        }
    }
}