/*Enlace H1 del HEADER*/
.encabezado {
    .logo-header {
        .enlace-logo {
            text-decoration: none;
        }
    }
}

/*MAIN de la pagina Departamentos*/
.main {
    .grilla-pages-dptos-mobile {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "dpto1"
            "dpto2"
            "dpto3"
            "dpto4";
        justify-items: center;
        width: 80%;

        .card-pages {
            width: 80%;
        }

        .dpto1 {
            grid-area: dpto1;
        }

        .dpto2 {
            grid-area: dpto2;
        }

        .dpto3 {
            grid-area: dpto3;
        }

        .dpto4 {
            grid-area: dpto4;
        }
    }
    .grilla-pages-dptos-desktop {
        display: none;
    }
}