/*Enlace H1 del HEADER*/
.encabezado {
    .logo-header {
        .enlace-logo {
            text-decoration: none;
        }
    }
}

/*MAIN de la pagina Inversiones*/
main {
    .grilla-pages-inversiones {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "i1"
            "i2"
            "i3";
        gap: 30px;
        justify-items: center;

        .parrafo {
            @extend %parrafo;
        }

        .card {
            width: 80%;
            border: $bordes;
            @extend %borde-card;
            .card-body {
                .card-title {
                    @extend %font-card; 
                }

                .card-text {
                    @extend %font-text;
                }
            }
            .list-group {
                li {
                    @extend %font-text;
                }
            }
        }

        .inversion1 {
            grid-area: i1;
        }

        .inversion2 {
            grid-area: i2;
        }

        .inversion3 {
            grid-area: i3;
        }
    }
}