/*Enlace H1 del HEADER*/
.encabezado {
    .logo-header {
        .enlace-logo {
            text-decoration: none;
        }
    }
}

/*MAIN de la pagina Casas*/

.grilla-pages {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
    .parrafo {
        @extend %parrafo;
    } 
    .card-pages {
        width: 75%;
        border: $bordes;
        @extend %borde-card;
        .card-body {
            height: auto;
            .card-title {
                @extend %font-card;
            }
            .card-text {
                @extend %font-text;
            }
        }
    }
    
}