/*Enlace H1 del HEADER*/
.encabezado {
    .logo-header {
        .enlace-logo {
            text-decoration: none;
        }
    }
}

/*MAIN de la pagina Departamentos*/
main {
    .grilla-pages-dptos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(4, 1fr);
        grid-template-areas:
            "texto-bienvenida"
            "dpto1"
            "dpto2"
            "dpto3"
            "dpto4";
        justify-items: center;
        .parrafo {
            @extend %parrafo;
        }
        .card-pages {
            width: 80%;
            border: $bordes;
            @extend %borde-card;
            .card-body {
                .card-title {
                    @extend %font-card;
                }
                .card-text {
                    @extend %font-text;
                }
            }
        }

        .dpto1 {
            grid-area: dpto1;
        }

        .dpto2 {
            grid-area: dpto2;
        }

        .dpto3 {
            grid-area: dpto3;
        }

        .dpto4 {
            grid-area: dpto4;
        }
    }
}